USE [master]
GO
/****** Object:  Database [facts]    Script Date: 8/4/2015 5:01:47 PM ******/
CREATE DATABASE [facts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'facts', FILENAME = N'C:\Users\lega\facts.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'facts_log', FILENAME = N'C:\Users\lega\facts_log.ldf' , SIZE = 7616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [facts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [facts]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 8/4/2015 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[topic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[epic_key] [varchar](10) NULL,
 CONSTRAINT [PK_topic] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fact]    Script Date: 8/4/2015 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](max) NULL,
	[html] [nvarchar](max) NULL,
 CONSTRAINT [PK_fact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fact_topic]    Script Date: 8/4/2015 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_topic](
	[fact_id] [int] NULL,
	[topic_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fact_issue]    Script Date: 8/4/2015 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_issue](
	[fact_id] [int] NOT NULL,
	[issue_id] [int] NOT NULL,
 CONSTRAINT [PK_fact_issue] PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC,
	[issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[issue]    Script Date: 8/4/2015 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[issue](
	[id] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[key] [varchar](10) NULL,
	[epic_key] [varchar](10) NULL,
 CONSTRAINT [PK_issue] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[fact_topic]  WITH CHECK ADD  CONSTRAINT [FK_fact_topic_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([id])
GO
ALTER TABLE [dbo].[fact_topic] CHECK CONSTRAINT [FK_fact_topic_topic]
GO
ALTER TABLE [dbo].[fact_topic]  WITH CHECK ADD  CONSTRAINT [FK_fact_topic_fact] FOREIGN KEY([fact_id])
REFERENCES [dbo].[fact] ([id])
GO
ALTER TABLE [dbo].[fact_topic] CHECK CONSTRAINT [FK_fact_topic_fact]
GO
ALTER TABLE [dbo].[fact_issue]  WITH CHECK ADD  CONSTRAINT [FK_fact_issue_fact] FOREIGN KEY([fact_id])
REFERENCES [dbo].[fact] ([id])
GO
ALTER TABLE [dbo].[fact_issue] CHECK CONSTRAINT [FK_fact_issue_fact]
GO
ALTER TABLE [dbo].[fact_issue]  WITH CHECK ADD  CONSTRAINT [FK_fact_issue_issue] FOREIGN KEY([issue_id])
REFERENCES [dbo].[issue] ([id])
GO
ALTER TABLE [dbo].[fact_issue] CHECK CONSTRAINT [FK_fact_issue_issue]
GO
USE [master]
GO
