<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>

        <div class="col-sm-10">
            <textarea class="form-control" rows="3" ng-model="fact.text"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">

            <div class="btn-group">
                <label ng-repeat="state in issueStates track by state.id" class="btn btn-default"
                       ng-model="fact.stateId" uib-btn-radio="state.id">{{::state.title}}</label>
            </div>

            <!--<select ng-options="state.title for state in issueStates track by state.id" ng-model="fact.state" ></select>-->
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Create issue
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Topics</label>

        <div class="col-sm-10">
            <tags-input ng-model="topics">
                <auto-complete source="loadTopics($query)"></auto-complete>
            </tags-input>
        </div>
    </div>
</form>